
# dependencies
/flight-search-frontend/node_modules
/flight-search-frontend/pnp
/flight-search-frontend/pnp.js
/flight-search-frontend/yarn/install-state.gz

# testing
/flight-search-frontend/coverage

# next.js
/flight-search-frontend/.next/
/flight-search-frontend/out/

# misc
/flight-search-frontend/DS_Store
/flight-search-frontend/*.pem

# debug
/flight-search-frontend/npm-debug.log*
/flight-search-frontend/yarn-debug.log*
/flight-search-frontend/yarn-error.log*

# local env files
.env
.env*.local

# vercel
/flight-search-frontend/vercel

# typescript
/flight-search-frontend/*.tsbuildinfo
/flight-search-frontend/next-env.d.ts

HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
